<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  .box
    h1 input達
    p input typeに入るいろいろなやつです。

  .itemBox
    p textの場合
    input(type="text" placeholder="テキストを入力してね")

  .itemBox
    p checkboxの場合
    input(type="checkbox" value="あ")
    input(type="checkbox" value="２")
    input(type="checkbox" value="う")

  .itemBox
    p buttonの場合
    input(type="button" value ="僕はボタンです")

  .itemBox
    p colorの場合
    input(type="color")

  .itemBox
    p dateの場合
    input(type="date")

  .itemBox
    p datetime-local
    input(type="datetime-local")

  .itemBox
    p email
    input(type="email")

  .itemBox
    p file
    input(type="file")

  .itemBox
    p hidden
    input(type="hidden")

  .itemBox
    p range
    input(type="range" min='0' max='100')

script(src = "./app.js")

