<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  div.box
    p textの場合
    input(type="text" placeholder="テキストを入力してね")

  div.box
    p checkboxの場合
    input(type="checkbox" value="あ")
    input(type="checkbox" value="２")
    input(type="checkbox" value="う")

  div.box
    p buttonの場合
    input(type="button" value ="僕はボタンです")

  div.box
    p colorの場合
    input(type="color")

  div.box
    p dateの場合
    input(type="date")

  div.box
    p datetime-local
    input(type="datetime-local")

  div.box
    p email
    input(type="email")

  div.box
    p file
    input(type="file")

  div.box
    p hidden
    input(type="hidden")

  div.box
    p range
    input(type="range" value=value)

script(src = "./app.js")

